body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.square {
  border: solid gray 1px;
  align-items: center;
  width: 8rem;
  height: 8rem;
  font-size: 6rem;
  border-radius: 8px;
  border: solid 2px #171717;
  transition: 0.1s ease-in-out;
}
.mainGame {
  max-width: 24rem;
  max-height: 24rem;
}
@media (min-width: 800px) {
  .section-container {
    flex-direction: row;
    width: 100%;
    max-width: 960px;
  }
}

.title {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 1500;
  text-align: center;
}

